{{outlet}}

<h1>Welcome to Super Rentals</h1>

  <p>Have a good time!</p>

  {{filter-listing filteredList=filteredList
    autoComplete=(action 'autoComplete') search=(action 'search')}}

  {{#each model as |rentalUnit|}}
    {{rental-listing rental=rentalUnit}}
  {{/each}}

  {{#link-to "about"}}About{{/link-to}}
  {{#link-to "contact"}}Contact{{/link-to}}
